@use '../variables' as *;
@use '../mixins' as *;

.contact {
  background: linear-gradient(to right, $color-black 50%, $color-secondary 50%);

  .card-form {
    border: 0;
    background-color: $color-black;
  }

  label {
    color: $color-white;
    font-size: 1rem;
    font-weight: 700;
  }

  .chamada {
    p {
      color: $color-white;
      font-size: 1rem;
      line-height: 1.6;
    }
  }

  form button {
    border: 0;
    background-color: $color-secondary;
    color: $color-white;

    &:hover,
    &:focus-visible {
      background-color: $color-primary;
    }
  }

  @include small-mobile {
    background: $color-secondary;
  }
}
